region = "us-west-2"
environment = "sandbox"
availability_zones = ["us-west-2a", "us-west-2b", "us-west-2c"]
allowed_ingress_list = []
key_name = ""
private_key_path = ""
authorized_key_path = ""
bastion_ami = "ami-6df1e514"
bastion_user = "ec2-user"
